*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 20px;
    
    font-size: 15px;
    padding: 30px;
  
}
.container{
    background-color: rgb(225, 229, 228);
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
  
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
}
.main_heading{
    text-align: center;
    
}

input[type="submit"] {
    background-color: rgb(44, 147, 104);
    font-style: bold;
    color: white;
    padding: 12px;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    width: 50%;
}

input[type="submit"]:hover{
    background-color: green;
}

input[type="reset"] {
    background-color: aquamarine;
    padding: 7px;
    border: none;
    width: 10%;
    cursor: pointer;


}

input[type="reset"]:hover{
    background-color: rgba(138, 161, 59, 0.404);
}